<div ng-cloak>
    <div class="row">
        <div >
            <div ng-switch="isAuthenticated()" has-authority="ROLE_USER">
                <div class="col-sm-offset-3">
                    <h1 translate="main.title" translate-values="{username: '{{account.login}}'}">Welcome,{{account.login}}!</h1>
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="alert alert-info" ng-switch-when="true" has-authority="ROLE_ADMIN">
                        <h3 translate="main.lastUpdated">Viimati uuendatud CV-d:</h3>
                        <div ng-repeat="cv in curriculumVitaesSorted | limitTo:3">
                            <a href="#/export?id={{cv.id}}">{{cv.employeeName}} CV ( {{cv.languageType}} )</a> ({{cv.lastModifiedDate | date:'yyyy-MM-dd HH:mm:ss'}} )
                        </div>
                    </div>
                    <div class="alert alert-warning" ng-switch-when="true" has-authority="ROLE_ADMIN">
                        <h3 translate="main.noUpdate">Kaua uuendamata CV-d:</h3>
                        <div ng-repeat="cv in curriculumVitaesSorted | limitTo:-3">
                            <a href="#/export?id={{cv.id}}">{{cv.employeeName}} CV ( {{cv.languageType}} )</a> ({{cv.lastModifiedDate | date:'yyyy-MM-dd HH:mm:ss'}} )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
