<div ng-cloak>
    <div class="row">
        <div class="col-md-12">

            <div class="exportview">
                <button ng-click="exportView()">Export CV data</button>
            </div>

            <form name="cvForm" id="export-content">

                <div name="cvTable" ng-if="personData" class="fullcv" id="fullcv" cellpadding="0" cellspacing="0"
                     width="100%">

                    <h1>CV {{persons.firstName}} {{persons.lastName}} </h1>

                    <div ng-model="persons.id">
                        <table id="personal" class="personal" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi">{{'form.lastname' | translate}}</th>
                                <th class="cgi">{{'form.firstname' | translate}}</th>
                                <th class="cgi">{{'form.birthday' | translate}}</th>
                                <th class="cgi">{{'form.idcode' | translate}}</th>
                                <th class="cgi">{{'form.nationality' | translate}}</th>
                                <th class="cgi">{{'form.email' | translate}}</th>
                            </tr>
                            <tr valign="top">
                                <td class="cgi">{{persons.lastName}}</td>
                                <td class="cgi">{{persons.firstName}}</td>
                                <td class="cgi">{{persons.birthday}}</td>
                                <td class="cgi">{{persons.idCode}}</td>
                                <td class="cgi">{{persons.nationality}}</td>
                                <td class="cgi">{{persons.email}}</td>
                            </tr>
                        </table>

                        <h3>{{'form.education' | translate}} <input id="education_btn" class="addbutton"
                                                                    type="checkbox"/></h3>

                        <table id="education" class="edication" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi" width="20%">{{'form.start' | translate}}</th>
                                <th class="cgi" width="20%">{{'form.end' | translate}}</th>
                                <th class="cgi" width="20%">{{'form.institution' | translate}}</th>
                                <th class="cgi" width="20%">{{'form.speciality' | translate}}</th>
                                <th class="cgi" width="20%">{{'form.degree' | translate}}</th>
                            </tr>
                            <tr valign="top"
                                ng-repeat="education in educations | orderBy:(sorting? 'periodStart':''):(sorting? 'true':'')">
                                <td class="cgi">{{education.periodStart | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{education.periodEnd | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{education.institution}}</td>
                                <td class="cgi">{{education.speciality}}</td>
                                <td class="cgi">{{education.degree | translate}}</td>
                            </tr>
                        </table>


                        <h3>{{'form.xp' | translate}} <input id="workxp_btn" class="addbutton" type="checkbox"/></h3>

                        <table id="workxp" valign="top" class="xp" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi">{{'form.start' | translate}}</th>
                                <th class="cgi">{{'form.end' | translate}}</th>
                                <th class="cgi">{{'form.organization' | translate}}</th>
                                <th class="cgi">{{'form.position' | translate}}</th>
                                <th class="cgi">{{'form.location' | translate}}</th>
                                <th class="cgi">{{'form.maintasks' | translate}}</th>
                            </tr>
                            <tr valign="top"
                                ng-repeat="workxp in workExperience | orderBy:(sorting? 'periodStart':''):(sorting? 'true':'')">
                                <td class="cgi">{{workxp.periodStart | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{workxp.periodEnd | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{workxp.organization}}</td>
                                <td class="cgi">{{workxp.position | translate}}</td>
                                <td class="cgi">{{workxp.location}}</td>
                                <td class="cgi"><span ng-repeat="wa in workxp.workAssignments"><span
                                        ng-if="!$first">, </span>{{wa.description}}</span></td>
                            </tr>
                        </table>


                        <h3>Töökogemus riigihanke objektiga sarnastel objektidel, nende loetelu ja töö maht <input
                                id="govxp_btn" class="addbutton" type="checkbox"/></h3>

                        <table id="govxp" class="edication" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi">{{'form.start' | translate}}</th>
                                <th class="cgi">{{'form.end' | translate}}</th>
                                <th class="cgi">{{'form.buyer' | translate}}</th>
                                <th class="cgi">{{'form.servicename' | translate}}</th>
                                <th class="cgi">{{'form.position' | translate}}</th>
                                <th class="cgi">Muu</th>
                            </tr>
                            <tr valign="top"
                                ng-repeat="govxp in govWorkExperience | orderBy:(sorting? 'periodStart':''):(sorting? 'true':'')">
                                <td class="cgi">{{govxp.periodStart | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{govxp.periodEnd | date:"dd.MM.yyyy"}}</td>
                                <td class="cgi">{{govxp.governmentProject.buyer}}</td>
                                <td class="cgi">{{govxp.governmentProject.serviceName}}</td>
                                <td class="cgi">{{govxp.position | translate}}</td>
                                <td class="cgi">
                                    <div><b>Tööülesanded</b>:<span ng-repeat="wa in govxp.workAssignments"><span
                                            ng-if="!$first">, </span>{{wa.description}}</span></div>
                                    <div><b>Isiklike töötundide maht projekti raames</b>:
                                        {{govxp.personalWorkHours}} h
                                    </div>
                                    <div><b>Projekti kogumaht</b>:
                                        {{govxp.governmentProject.totalProjectWorkHours}}
                                        h
                                    </div>
                                    <div><b>Kasutatud platvormid/prog keeled</b>: <span
                                            ng-repeat="techs in govxp.governmentProject.technologies">
                                            <div>{{techs.type}} - {{techs.description}}</div></span></div>
                                </td>
                            </tr>
                        </table>


                        <h3>Erialane täiendkoolitus <input id="additionaledu_btn" class="addbutton" type="checkbox"/>
                        </h3>

                        <table id="additionaledu" class="edication" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi" width="15%">{{'form.start' | translate}}</th>
                                <th class="cgi" width="15%">{{'form.end' | translate}}</th>
                                <th class="cgi" width="30%">{{'form.institution' | translate}}</th>
                                <th class="cgi" width="45%">{{'form.description' | translate}}</th>
                            </tr>
                            <tr valign="top"
                                ng-repeat="study in additionalStudy | orderBy:(sorting? 'periodStart':''):(sorting? 'true':'')">
                                <td class="cgi">{{study.periodStart | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{study.periodEnd | date:'dd.MM.yyyy'}}</td>
                                <td class="cgi">{{study.institution}}</td>
                                <td class="cgi">{{study.description}}</td>
                            </tr>
                        </table>

                        <h3>Keelteoskus <input id="languages_btn" class="addbutton" type="checkbox"/></h3>

                        <table id="languages" class="edication" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi" width="15%">{{'form.languagename' | translate}}</th>
                                <th class="cgi" width="30%">{{'form.speaking' | translate}}</th>
                                <th class="cgi" width="45%">{{'form.writing' | translate}}</th>
                            </tr>
                            <tr valign="top"
                                ng-repeat="language in additionalLanguage | orderBy:(sorting? 'language':''):(sorting? 'true':'')">
                                <td class="cgi">{{language.language}}</td>
                                <td class="cgi">{{language.speaking | translate}}</td>
                                <td class="cgi">{{language.writing | translate}}</td>
                            </tr>
                        </table>

                        <h3>Muud oskused (arvutioskus) <input id="additional_btn" class="addbutton" type="checkbox"/>
                        </h3>

                        <table id="additional" class="additional" width="100%" border="1px">
                            <tr valign="top">
                                <th class="cgi">{{'form.type' | translate}}</th>
                                <th class="cgi">{{'form.description' | translate}}</th>
                                <th class="cgi">{{'form.experience' | translate}}</th>
                            </tr>
                            <tr valign="top" ng-repeat="skills in additionalSkill">
                                <td class="cgi">{{skills.type | translate}}</td>
                                <td class="cgi">{{skills.description}}</td>
                                <td class="cgi">{{skills.experience}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
