
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myWorkExperienceLabel" translate="resourcyApp.workExperience.home.createOrEditLabel">Create or edit a WorkExperience</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="workExperience.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.workExperience.position" for="field_position">Position</label>
            <input type="text" class="form-control" name="position" id="field_position"
                    ng-model="workExperience.position"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.workExperience.periodStart" for="field_periodStart">PeriodStart</label>
            <input id="field_periodStart" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="workExperience.periodStart" is-open="datePickerForPeriodStart.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForPeriodStartOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.workExperience.periodEnd" for="field_periodEnd">PeriodEnd</label>
            <input id="field_periodEnd" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="workExperience.periodEnd" is-open="datePickerForPeriodEnd.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForPeriodEndOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.workExperience.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="workExperience.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.workExperience.organization" for="field_organization">Organization</label>
            <input type="text" class="form-control" name="organization" id="field_organization"
                    ng-model="workExperience.organization"
                     />
        </div>

        <div class="form-group">
            <label translate="resourcyApp.workExperience.curriculumVitae" for="field_curriculumVitae">curriculumVitae</label>
            <select class="form-control" id="field_curriculumVitae" name="curriculumVitae" ng-model="workExperience.curriculumVitaeId" ng-options="curriculumVitae.id as curriculumVitae.id for curriculumVitae in curriculumvitaes">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
