<div>
    <h2 >Curriculum Vitae</h2>
    <jh-alert></jh-alert>


    <div class="container-fluid">
        <div class="row">
            <h3 translate="resourcyApp.employee.home.title">Employees</h3>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="employee.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                            class="hidden-xs"translate="resourcyApp.employee.home.createLabel">Create new Employee
                    </span>
                </button>
            </div>
         </div>
    </div>
    <br/>
    <div class="table-responsive" >
        <table class="jh-table table table-striped">
        <thead>
        <tr jh-sort="predicate" ascending="reverse" callback="reset()">
            <th><span translate="resourcyApp.employee.firstName">FirstName</span></th>
            <th><span translate="resourcyApp.employee.lastName">LastName</span></th>
            <th><span translate="resourcyApp.employee.birthday">Birthday</span></th>
            <th><span translate="resourcyApp.employee.nationality">Nationality</span></th>
            <th><span translate="resourcyApp.employee.email">Email</span></th>
            <th><span translate="resourcyApp.employee.idCode">Id code</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.birthday | date:'mediumDate'}}</td>
            <td>{{employee.nationality}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.idCode}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            ui-sref="employee.edit({id:employee.id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
        <h3 translate="resourcyApp.workExperience.home.title">WorkExperiences</h3>
                    <button class="btn btn-primary" ui-sref="workExperience.new">
                        <span class="glyphicon glyphicon-plus"></span>
                    <span
                            class="hidden-xs" translate="resourcyApp.workExperience.home.createLabel">Create new WorkExperience
                    </span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span translate="resourcyApp.workExperience.position">Position</span></th>
                    <th><span translate="resourcyApp.workExperience.periodStart">PeriodStart</span></th>
                    <th><span translate="resourcyApp.workExperience.periodEnd">PeriodEnd</span></th>
                    <th><span translate="resourcyApp.workExperience.location">Location</span></th>
                    <th><span translate="resourcyApp.workExperience.organization">Organization</span></th>
                    <th><span translate="resourcyApp.workAssignment.home.title">title</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="workExperience in curriculumVitae.workExperiences track by workExperience.id">
                    <td>{{workExperience.position}}</td>
                    <td>{{workExperience.periodStart | date:'mediumDate'}}</td>
                    <td>{{workExperience.periodEnd | date:'mediumDate'}}</td>
                    <td>{{workExperience.location}}</td>
                    <td>{{workExperience.organization}}</td>
                    <td><span ng-repeat="wa in workExperience.workAssignments"><span ng-if="!$first">, </span>{{wa.description}}</span></td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="workExperience.edit({id:workExperience.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="workExperience.delete({id:workExperience.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 no-padding-left">
        <h3 translate="resourcyApp.governmentWorkExperience.home.title">GovernmentWorkExperiences</h3>
                    <button class="btn btn-primary" ui-sref="governmentWorkExperience.new" >
                        <span class="glyphicon glyphicon-plus"></span>
                    <span
                            class="hidden-xs"                        translate="resourcyApp.governmentWorkExperience.home.createLabel">Create new GovernmentWorkExperience
                    </span>
                    </button>
                </div>

            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span translate="resourcyApp.governmentWorkExperience.position">Position</span></th>
                    <th><span translate="resourcyApp.governmentWorkExperience.periodStart">PeriodStart</span></th>
                    <th><span translate="resourcyApp.governmentWorkExperience.periodEnd">PeriodEnd</span></th>
                    <th><span translate="resourcyApp.governmentWorkExperience.personalWorkHours">PersonalWorkHours</span></th>
                    <th><span translate="resourcyApp.workAssignment.home.title">WorkAssignments</span></th>
                    <th><span translate="resourcyApp.governmentProject.buyer">Buyer</span></th>
                    <th><span translate="resourcyApp.governmentProject.serviceName">ServiceName</span></th>
                    <th><span translate="resourcyApp.governmentProject.totalProjectWorkHours">TotalProjectWorkHours</span></th>
                    <th><span translate="resourcyApp.technology.home.title">Technologies</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="governmentWorkExperience in curriculumVitae.governmentWorkExperiences track by governmentWorkExperience.id">
                    <td>{{governmentWorkExperience.position}}</td>
                    <td>{{governmentWorkExperience.periodStart | date:'mediumDate'}}</td>
                    <td>{{governmentWorkExperience.periodEnd | date:'mediumDate'}}</td>
                    <td>{{governmentWorkExperience.personalWorkHours}}</td>
                    <td><span ng-repeat="wa in governmentWorkExperience.workAssignments"><span ng-if="!$first">, </span>{{wa.description}}</span></td>
                    <td>{{governmentWorkExperience.governmentProject.buyer}}</td>
                    <td>{{governmentWorkExperience.governmentProject.serviceName}}</td>
                    <td>{{governmentWorkExperience.governmentProject.totalProjectWorkHours}}</td>
                    <td><span ng-repeat="teh in governmentWorkExperience.governmentProject.technologies"><span ng-if="!$first">, </span>{{teh.description}}</span></td>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="governmentWorkExperience.edit({id:governmentWorkExperience.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="governmentWorkExperience.delete({id:governmentWorkExperience.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    <div class="container-fluid">
        <div class="row">
    <h3 translate="resourcyApp.education.home.title">Educations</h3>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="education.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="resourcyApp.education.home.createLabel">Create new Education
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="resourcyApp.education.institution">Institution</span></th>
                <th><span translate="resourcyApp.education.periodStart">PeriodStart</span></th>
                <th><span translate="resourcyApp.education.periodEnd">PeriodEnd</span></th>
                <th><span translate="resourcyApp.education.speciality">Speciality</span></th>
                <th><span translate="resourcyApp.education.degree">Degree</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="education in curriculumVitae.educations">
                <td>{{education.institution}}</td>
                <td>{{education.periodStart | date:'mediumDate'}}</td>
                <td>{{education.periodEnd | date:'mediumDate'}}</td>
                <td>{{education.speciality}}</td>
                <td>{{education.degree}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="education.edit({id:education.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="education.delete({id:education.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h3 translate="resourcyApp.additionalStudy.home.title">AdditionalStudys</h3>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="additionalStudy.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" translate="resourcyApp.additionalStudy.home.createLabel">Create new AdditionalStudy
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="resourcyApp.additionalStudy.periodStart">PeriodStart</span></th>
                <th><span translate="resourcyApp.additionalStudy.periodEnd">PeriodEnd</span></th>
                <th><span translate="resourcyApp.additionalStudy.institution">Institution</span></th>
                <th><span translate="resourcyApp.additionalStudy.description">Description</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="additionalStudy in curriculumVitae.additionalStudys track by additionalStudy.id">
                <td>{{additionalStudy.periodStart | date:'mediumDate'}}</td>
                <td>{{additionalStudy.periodEnd | date:'mediumDate'}}</td>
                <td>{{additionalStudy.institution}}</td>
                <td>{{additionalStudy.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="additionalStudy.edit({id:additionalStudy.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="additionalStudy.delete({id:additionalStudy.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row">
    <h3 translate="resourcyApp.languageSkill.home.title">LanguageSkills</h3>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="languageSkill.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                            class="hidden-xs"                        translate="resourcyApp.languageSkill.home.createLabel">Create new LanguageSkill
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="resourcyApp.languageSkill.language">Language</span></th>
                <th><span translate="resourcyApp.languageSkill.speaking">Speaking</span></th>
                <th><span translate="resourcyApp.languageSkill.writing">Writing</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="languageSkill in curriculumVitae.languageSkills track by languageSkill.id">
                <td>{{languageSkill.language}}</td>
                <td>{{languageSkill.speaking}}</td>
                <td>{{languageSkill.writing}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="languageSkill.edit({id:languageSkill.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="languageSkill.delete({id:languageSkill.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container-fluid">
        <div class="row">
    <h3 translate="resourcyApp.additionalSkill.home.title">AdditionalSkills</h3>
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="additionalSkill.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                            class="hidden-xs"                        translate="resourcyApp.additionalSkill.home.createLabel">Create new AdditionalSkill
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span translate="resourcyApp.additionalSkill.type">Type</span></th>
                <th><span translate="resourcyApp.additionalSkill.description">Description</span></th>
                <th><span translate="resourcyApp.additionalSkill.experience">Experience</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="additionalSkill in curriculumVitae.additionalSkills track by additionalSkill.id">
                <td>{{additionalSkill.type}}</td>
                <td>{{additionalSkill.description}}</td>
                <td>{{additionalSkill.experience}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="additionalSkill.edit({id:additionalSkill.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="additionalSkill.delete({id:additionalSkill.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
