
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEducationLabel" translate="resourcyApp.education.home.createOrEditLabel">Create or edit a Education</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="education.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.education.institution" for="field_institution">Institution</label>
            <input type="text" class="form-control" name="institution" id="field_institution"
                    ng-model="education.institution"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.education.periodStart" for="field_periodStart">PeriodStart</label>
            <input id="field_periodStart" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="education.periodStart" is-open="datePickerForPeriodStart.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForPeriodStartOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.education.periodEnd" for="field_periodEnd">PeriodEnd</label>
            <input id="field_periodEnd" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="education.periodEnd" is-open="datePickerForPeriodEnd.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForPeriodEndOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.education.speciality" for="field_speciality">Speciality</label>
            <input type="text" class="form-control" name="speciality" id="field_speciality"
                    ng-model="education.speciality"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="resourcyApp.education.degree" for="field_degree">Degree</label>
            <input type="text" class="form-control" name="degree" id="field_degree"
                    ng-model="education.degree"
                     />
        </div>
        <div class="form-group">
            <label translate="resourcyApp.education.curriculumVitae" for="field_curriculumVitae">curriculumVitae</label>
            <select class="form-control" id="field_curriculumVitae" name="curriculumVitae" ng-model="education.curriculumVitaeId" ng-options="curriculumVitae.id as curriculumVitae.id for curriculumVitae in curriculumvitaes">
                <option value=""></option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
