
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCurriculumVitaeLabel" translate="resourcyApp.curriculumVitae.home.createOrEditLabel">Create or edit a CurriculumVitae</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="curriculumVitae.id" readonly />
        </div>

        <div class="form-group">
            <label translate="resourcyApp.curriculumVitae.employee" for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="curriculumVitae.employeeId" ng-options="employee.id as employee.id for employee in employees">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group" ng-init="getLanguageTypes()">
            <span translate="resourcyApp.curriculumVitae.language.type" for="field_language_type">languageType</span>
            <ui-select ng-model="curriculumVitae.languageType">
                <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="languageType in languageTypes | orderBy : 'name' | filter: $select.search">
                    <div ng-bind-html="languageType | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
